* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background: #efefef;
  font-family: 'Poppins', sans-serif;
}

.main-one {
  background: #fff;
  height: 750px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.mylogo {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: #6070ff;
  font-weight: 700;
}

.home {
  display: none;
}

#statusbar {
  right: 10px;
  position: absolute;
}

.parallel {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #6070ff;
}

.parallel img {
  background-color: transparent;
}

#sectionA {
  background-image: url("./assets/Images/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  position: absolute;
  border-bottom-left-radius: 100px;
  margin-left: 2rem;
}

.introA {
  margin-top: 5rem;
  font-size: 40px;
  font-weight: 700;
  margin-left: 26px;
  color: #172b4d;
}

.introA span {
  display: block;
}

.para-one {
  margin-left: 0;
  width: 327px;
  font-weight: 400;
  color: #172b4d;
}

.one li {
  font-size: 11px;
  color: #6070ff;
  background: #ebebff;
  width: 6rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.order {
  margin: 10px 22px;
}

.order h3 a {
  margin: 5px 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.order ul li {
  display: inline-block;
}

.explain ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.explain p {
  background: transparent;
  padding: 4px;
  margin: 10px 0 0 34px;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  width: 9rem;
  display: flex;
  justify-content: center;
}

.explain h3 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: rgba(57, 109, 242, 1);
  font-size: 14px;
}

.cards {
  width: 100%;
  height: auto;
  margin-top: 114px;
  display: flex;
  justify-content: center;
}

.cardern {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.cardernan {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.cardernan img {
  width: 100%;
  height: 190px;
  border-radius: 8px;
}

.cardern img {
  width: 100%;
  height: 190px;
  border-radius: 8px;
}

.table2 {
  margin: 10px 0;
}

.hone {
  color: #172b4d;
  font-weight: 700px;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}

.one {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cards h1 {
  margin-top: 1rem;
  font-size: 32px;
}

.cards ul {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  color: rgba(107, 119, 140, 1);
}

.paraone {
  color: rgba(52, 69, 99, 1);
  font-size: 16px;
  width: 370px;
}

.one h2 {
  font-size: 18px;
}

.list {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 8px;
  height: 8px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  color: rgba(193, 199, 208, 1);
  background-color: 10px;
}

.para {
  width: 295px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.language {
  display: inline-block;
  margin: 15px 0 15px 5px;
  font-size: 13px;
  font-weight: 500;
  color: #6070ff;
  background: #ebebff;
  padding: 5px 8px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.button {
  font-size: 17px;
  font-weight: 500;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-top: 10px;
}

.button:hover {
  background: #6070ff;
  color: #fff;
}

.button:active {
  background: #2230d2;
  color: #fff;
}

.color {
  color: #396df2;
}

.color:hover {
  color: #fff;
}

.about {
  width: 100%;
  margin-top: 114px;
  height: auto;
  padding: 10px 0 150px 0;
  border-top-right-radius: 100px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.explain {
  margin: 100px 0 20px 0;
}

.about_text {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  margin: 0 20px;
}

.introL {
  font-weight: 400;
  font-size: 16px;
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  color: #344563;
}

.content {
  margin: 10px 5px 0 0;
  color: #505f79;
  display: inline-block;
}

.let {
  margin: 5px 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.extra i {
  color: #7f8cff;
}

.content i {
  margin: 10px 5px 0 0;
  color: #505f79;
}

.program_codes {
  background: #f7f7f9;
  width: 95%;
  height: 50px;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.text {
  line-height: 50px;
  margin: 0 0 0 20px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.programs {
  margin: 21px 0 0 20px;
  width: 92%;
  display: flex;
  flex-direction: column;
}

.bolo {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.codes_name {
  margin: 1rem;
}

.man_know {
  background: transparent;
  flex-direction: row;
  border-bottom: 1px solid #dfe1e6;
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  margin-right: 14rem;
  margin-left: 1rem;
}

.man_know h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.man_know img {
  right: 0;
  width: 30px;
  margin-right: 30px;
}

.forms {
  background: #6070ff;
  height: 700px;
  display: flex;
  padding: 0 30px;
  margin-top: -100px;
  justify-content: center;
  border-top-left-radius: 100px;
}

form {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 90px;
}

.sectfour {
  background-image: ("../assets/Images/formpic.png");
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  position: absolute;
}

.fill {
  text-align: center;
}

.hones {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  font-weight: 700;
}

.pras {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0 10px 0 0;
  width: 327px;
  display: flex;
  margin-left: 2rem;
  text-align: center;
}

#input {
  padding: 10px 12px;
  width: 80%;
  outline: none;
  border: none;
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

#msg {
  width: 80%;
  padding: 10px 12px;
  outline: none;
  border: none;
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.submit {
  padding: 12px 16px;
  color: #6070ff;
  background: #fff;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  outline: none;
  border: 1px solid #7f8cff;
  cursor: pointer;
}

.submit:hover {
  background: #6070ff;
  color: #fff;
}

.submit:active {
  background: #2230d2;
}

#home {
  display: none;
}

#home1 {
  position: fixed;
  top: -0.9rem;
  display: none;
  background-color: #3c24c5d8;
  width: 375px;
  height: 750px;
  transition: 0.3s;
  left: 0;
  z-index: 10;
  margin-bottom: 0;
}

.hom2 {
  color: #fff;
}

.content1 {
  margin-top: 3rem;
  text-align: left;
  margin-left: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

#close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

#comeout {
  display: none;
}

.completwork {
  width: 100%;
  height: 100%;
  background: #30313371;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: auto;
  background: #ffff;
  border-radius: 25px;
  position: absolute;
  top: 25%;
  left: 8%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 10px 8px 119px 200px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 10px 8px 119px 200px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 8px 119px 200px rgba(0, 0, 0, 0.45);
}

.picture {
  width: 30px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.param {
  width: 100%;
}

.param h1 {
  color: #091e42;
  font-size: 40px;
  font-weight: 700;
}

.list,
.cartigory {
  display: inline-block;
  margin: 5px 25px 5px 0;
  font-size: 15px;
  color: #344563;
}

.pics {
  width: auto;
  height: 500px;
}

.wkstwo {
  font-size: 16px;
  color: rgb(52, 69, 99);
  margin: 1rem 0 -14px;
  width: 100%;
}

.Code,
.codlist {
  display: inline-block;
  margin-top: -26px;
}

.codlist {
  margin: 63px 38px 3px -16px;
  background: #ebebff;
  font-weight: 500;
  font-size: 15px;
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 10px;
  float: right;
}

.booton {
  margin-left: -47px;
  font-size: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.buttout {
  padding: 5px;
  width: 5rem;
  background: transparent;
  color: #6070ff;
  border: 1.5px solid #6070ff;
  border-radius: 6px;
  margin: 8px 11px;
  text-align-last: justify;
}

#error {
  color: #fff;
  margin: -4px;
}

.buttout:hover {
  background: #6070ff;
  color: #fff;
}

.buttout:active {
  background: #2230d2;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 0;
    justify-content: space-between;
    position: fixed;
  }

  .mylogo {
    margin-left: 150px;
  }

  .wkstwo {
    font-size: 15px;
    color: #344563;
    margin: 10px 0;
    height: 250px;
    width: 47%;
  }

  .Code,
  .codlist {
    display: inline-block;
    margin-top: -250px;
  }

  .booton {
    margin-left: 0;
    font-size: 11px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  #home {
    display: block;
    float: right;
    margin-right: 150px;
  }

  #home1 {
    display: none;
  }

  #statusbar.active .bar:nth-child(2) {
    opacity: 0;
  }

  #statusbar.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #statusbar.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #sectionA {
    background-image: url("./assets/Images/formpic.png");
    background-image: cover;
    max-width: 100%;
    margin-top: 56px;
    margin-left: 30px;
  }

  .introA {
    font-size: 48px;
    margin-top: 7rem;
    font-weight: 700;
    margin-left: 130px;
    color: #172b4d;
    animation: coloreffect 10s;
  }

  @keyframes coloreffect {
    from {
      color: aqua;
    }

    to {
      color: red;
    }
  }

  .introA span {
    display: contents;
  }

  .para-one {
    margin-left: 130px;
    width: 55%;
    font-size: 16px;
  }

  .cardern {
    flex-direction: row;
  }

  .cardern img {
    width: 544px;
    height: 448px;
  }

  .cardernan {
    width: 75%;
    height: auto;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #def1e6;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .cardernan img {
    width: 544px;
    height: 448px;
  }

  .table {
    width: 450px;
    margin: 10px 10px 10px 30px;
  }

  .hone {
    font-size: 40px;
  }

  .order ul {
    display: flex;
    justify-content: start;
    font-size: 18px;
    font-weight: 400;
    margin-left: 1rem;
  }

  .order {
    margin-left: 130px;
    font-size: 16px;
  }

  .order h3 {
    margin-left: 1rem;
    color: #7f8cff;
  }

  .order h3 a {
    margin-left: 1rem;
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .codes li {
    display: flex;
    justify-content: center;
  }

  .code li {
    display: flex;
    align-items: center;
  }

  .order ul li {
    display: inline-block;
  }

  .para {
    font-size: 16px;
    width: 100%;
  }

  .about {
    flex-direction: row;
  }

  .explain {
    margin: 40px 30px 80px 80px;
  }

  .explain h3 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: rgba(57, 109, 242, 1);
    font-size: 14px;
  }

  #error {
    color: #fff;
  }

  #statusbar {
    display: none;
  }

  .explain ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .explain p:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .explain p:active {
    background-color: #2230d2;
  }

  .program_codes {
    width: 84px;
    height: 100px;
    margin: 2px;
    padding: 3px;
    flex-direction: column;
  }

  .codes_name {
    margin-left: 1rem;
  }

  .text {
    font-size: 15px;
    margin-left: 1px;
  }

  .program_codes img {
    width: 48px;
  }

  .programs {
    display: flex;
    flex-direction: row;
  }

  .introL {
    width: 300px;
    font-weight: 400;
    font-size: 10px;
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
    color: #344563;
  }

  .sectfour {
    background-image: url('./assets/Images/lastman.png');
    background-size: cover;
    max-width: 100%;
  }

  .fill {
    text-align: center;
  }

  .hones {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-weight: 700;
  }

  .pras {
    font-weight: 400;
    font-size: 20px;
    width: 50%;
    margin: 0 25%;
  }

  #input {
    width: 49%;
    border-radius: 0;
  }

  #msg {
    width: 49%;
    border-radius: 0;
  }

  .submit {
    border-radius: 10px;
  }

  .code {
    margin-top: 1rem;
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  .codetwo {
    margin-left: 0.5rem;
    display: flex;
    gap: 3rem;
    font-size: 10px;
  }

  .buttout {
    padding: 8px 20px;
    background: transparent;
    color: #6070ff;
    border: 1.5px solid #6070ff;
    border-radius: 6px;
    margin: 10px 12px;
    text-align-last: justify;
  }

  .picture {
    width: 20px;
    cursor: pointer;
  }

  .img {
    width: auto;
    height: 300px;
  }

  .container {
    left: 6.5%;
    height: 820px;
  }

  .codlist {
    margin: 9px 38px 5px -10px;
    background: #ebebff;
    font-weight: 500;
    font-size: 16px;
    color: #6070ff;
    padding: 4px 12px;
    border-radius: 10px;
    float: right;
  }
}

@media screen and (min-width: 1095px) {
  .wkstwo {
    font-size: 15px;
    color: #344563;
    margin: 10px 0;
    height: 250px;
    width: 65%;
  }

  #reservtext {
    color: #fff;
  }

  form {
    margin-top: -13px;
    text-align: center;
    margin-bottom: 90px;
  }

  .pras {
    font-weight: 400;
    font-size: 15px;
    width: 50%;
    margin: 0 25%;
  }
}
